<a href="https://colab.research.google.com/github/rajashree966/Data_Handling_And_Visualization/blob/main/20221csd0123(6_3_2024).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
meteorites=pd.read_csv('/usr/lib32/data/Meteorite_Landings_20240306.csv',)
meteorites
meteorites.name
meteorites.columns
meteorites.index
#meteorites=pd.read_csv('/usr/lib32/data/Meteorite_Landings_20240306.csv')
meteorites.shape
meteorites.dtypes
meteorites.info()
meteorites[['name','mass (g)']]
meteorites[100:104]
meteorites.iloc[100:104,[0,3,4,6]]
meteorites.loc[100:104,'mass (g)':'year']
meteorites['mass (g)']>50
meteorites.fall=='Found'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

0        False
1        False
2        False
3        False
4        False
         ...
45711     True
45712     True
45713     True
45714     True
45715     True
Name: fall, Length: 45716, dtype: bool

In [35]:
import requests
response=requests.get('https://data.nasa.gov/resource/gh4g-9sfh.json',
                      params={'$limit':50_000})
if response.ok:
  payload=response.json()
else:
  print(f"Request not successful and return code:{response.status_code}.")
  payload=None
df=pd.DataFrame(payload)
df.head(5)
df.shape
df.dtypes
df.info()
df[['id','fall']]
df[200:204]
df.iloc[100:104,[0,3,4,6]]
df.loc[100:104,'id':'fall']
meteorites['id']>50
meteorites.fall=='Found'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         45716 non-null  object
 1   id                           45716 non-null  object
 2   nametype                     45716 non-null  object
 3   recclass                     45716 non-null  object
 4   mass                         45585 non-null  object
 5   fall                         45716 non-null  object
 6   year                         45425 non-null  object
 7   reclat                       38401 non-null  object
 8   reclong                      38401 non-null  object
 9   geolocation                  38401 non-null  object
 10  :@computed_region_cbhk_fwbd  1659 non-null   object
 11  :@computed_region_nnqa_25f4  1659 non-null   object
dtypes: object(12)
memory usage: 4.2+ MB

0        False
1        False
2        False
3        False
4        False
         ...
45711     True
45712     True
45713     True
45714     True
45715     True
Name: fall, Length: 45716, dtype: bool